body {
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#container {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100vh;
}

#menuSection {
  flex: 3;
}

#tabSection {
  flex: 2;
  background-color: gray;
  margin: 0px 10px;
}

#contentSection {
  flex: 5;
}

.activeTab {
  background-color: yellow;
}
