body {
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
}

#menuSection {
  height: 20px;
  margin: 10px;
}

#fileMenu {
  display: flex;
  flex-direction: row;
}

#fileList {
  display: none;
}

#tabSection {
  height: auto;
  background-color: lightgray;
  margin: 0px 10px;
}

#tabList {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#contentSection {
  margin: 10px 10px;
}

.tab {
  flex: 1;
  background-color: pink;
  border: 1px solid black;
}

.activeTab {
  background-color: yellow;
}
